<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
<title>CS-Helper</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<link href="{% static 'css/common.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/admin.css' %}" type="text/css" rel="stylesheet">
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/nice-select/jquery.nice-select.js' %}"></script>
<script src="{% static 'js/action.js' %}"></script>
<style>
    .tag {
        display: inline-flex;
        align-items: center;
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 3px;
    }
    .tag .close {
        margin-left: 10px;
        color: red;
        cursor: pointer;
        font-weight: bold;
    }
    .tag .close:hover {
        color: darkred;
    }
</style>
</head>
<body>
<div id="wrap">
	<header id="header" class="admin_header">
        <div class="mob-head">
            <h1 class="logo"><a href="./"><img src="{% static 'image/common/logo_vertical.png' %}" alt="폼당폼당" class="w4em"></a></h1>
            {% if request.session.api_key %}
                <p class="bt-group"><a href="/inquiry/service/{{ request.session.api_key }}/" target='_blank'> 폼 확인하기 <i class="ico"></i></a></p>
            {% else %}
                <p class="bt-group"><a href="/contract/write/"> 폼 계약하기 <i class="ico"></i></a></p>
            {% endif %}
            <nav class="gnb">
                <ul>
                    <li><a href="/inquiry/list/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path style="fill:currentColor" fill-rule="evenodd" d="M3.47 7.03c.15.15.34.22.53.22s.38-.07.53-.22l3-3c.29-.29.29-.77 0-1.06a.754.754 0 0 0-1.06 0L4 5.44l-.47-.47a.754.754 0 0 0-1.06 0c-.29.29-.29.77 0 1.06l1 1ZM21 6.25H11c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h10c.41 0 .75.34.75.75s-.34.75-.75.75Zm-10 7h10c.41 0 .75-.34.75-.75s-.34-.75-.75-.75H11c-.41 0-.75.34-.75.75s.34.75.75.75Zm0 7h10c.41 0 .75-.34.75-.75s-.34-.75-.75-.75H11c-.41 0-.75.34-.75.75s.34.75.75.75Zm-7-6c-.19 0-.38-.07-.53-.22l-1-1a.754.754 0 0 1 0-1.06c.29-.29.77-.29 1.06 0l.47.47 2.47-2.47c.29-.29.77-.29 1.06 0 .29.29.29.77 0 1.06l-3 3c-.15.15-.34.22-.53.22Zm-.53 6.78c.15.15.34.22.53.22s.38-.07.53-.22l3-3c.29-.29.29-.77 0-1.06a.754.754 0 0 0-1.06 0L4 19.44l-.47-.47a.754.754 0 0 0-1.06 0c-.29.29-.29.77 0 1.06l1 1Z" clip-rule="evenodd"/></svg> 문의 확인</a></li>
                    <li><a href="/inquiry/management/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path style="fill:currentColor" fill-rule="evenodd" d="M5.54 19.52c-.61 0-1.18-.21-1.59-.6-.52-.49-.77-1.23-.68-2.03l.37-3.24c.07-.61.44-1.42.87-1.86l6.837-7.237a.707.707 0 0 1 .025-.026L12.72 3.1c2.05-2.17 4.19-2.23 6.36-.18s2.23 4.19.18 6.36l-8.21 8.69c-.42.45-1.2.87-1.81.97l-3.22.55-.177.013c-.102.009-.2.017-.303.017Zm.06-6.71 5.918-6.272a6.86 6.86 0 0 0 4.353 4.125L9.95 16.93c-.2.21-.68.47-.97.52L5.76 18c-.33.05-.6-.01-.78-.18-.18-.17-.26-.44-.22-.77l.37-3.24c.04-.29.27-.79.47-1Zm12.56-4.57-1.105 1.17a5.372 5.372 0 0 1-4.342-4.137L13.81 4.11c.68-.72 1.35-1.2 2.12-1.2.62 0 1.31.32 2.11 1.09 1.81 1.7 1.36 2.92.12 4.24ZM3 22.75h18c.41 0 .75-.34.75-.75s-.34-.75-.75-.75H3c-.41 0-.75.34-.75.75s.34.75.75.75Z" clip-rule="evenodd"/></svg> 문의 관리</a></li>
                    <li><a href="/contract/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path style="fill:currentColor" fill-rule="evenodd" d="M19.25 17.353a2.75 2.75 0 0 0-2 2.647c0 1.52 1.23 2.75 2.75 2.75s2.75-1.23 2.75-2.75a2.75 2.75 0 0 0-2-2.647V14c0-2.42-1.33-3.75-3.75-3.75h-4.25V6.647a2.75 2.75 0 0 0 2-2.647c0-1.52-1.23-2.75-2.75-2.75S9.25 2.48 9.25 4c0 1.26.845 2.32 2 2.647v3.603H7c-2.42 0-3.75 1.33-3.75 3.75v3.353a2.75 2.75 0 0 0-2 2.647c0 1.52 1.23 2.75 2.75 2.75S6.75 21.52 6.75 20a2.75 2.75 0 0 0-2-2.647V14c0-1.58.67-2.25 2.25-2.25h4.25v5.603a2.75 2.75 0 0 0-2 2.647c0 1.52 1.23 2.75 2.75 2.75s2.75-1.23 2.75-2.75a2.75 2.75 0 0 0-2-2.647V11.75H17c1.58 0 2.25.67 2.25 2.25v3.353ZM4 18.75a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5Zm16 0a1.25 1.25 0 1 1 0 2.5 1.25 1.25 0 0 1 0-2.5ZM13.25 4a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM12 18.75a1.25 1.25 0 1 1 0 2.5 1.25 1.25 0 0 1 0-2.5Z" clip-rule="evenodd"/></svg> 계약 정보</a></li>
                </ul>
            </nav>
			<a onclick="Logout()" class="bt-logout"><i class="ico i-logout"></i> Logout</a>
        </div>
        <button type="button" class="bt-menu"><span class="skip">메뉴</span></button>
    </header>
    <div id="container">
		<div class="group-write">
			<h4>상세내용</h4>
				<fieldset>
					<legend>문의 내용</legend>
					<div class="forms-write-wrap">
						<div class="frm-area">
							<div class="inp-group">
								<label for="title"><em>필수</em> 제목</label>
								<input type="text" value="{{ inquiry.title }}" class="it" id="title" readonly>
							</div>
						</div>
						<div class="frm-area" style="pointer-events: none">
							<div class="inp-group">
								<label for="type"><em>필수</em> 문의 유형</label>
								<select name="" id="type" class="layer-sel" readonly>
										<option value="{{ inquiry.type }}">{{ inquiry.type }}</option>
								</select>
							</div>
						</div>

						{% if inquiry.name %}
						<div class="frm-area">
							<div class="inp-group">
								<label for="name"><em>필수</em> 이름</label>
								<input type="text" value="{{ inquiry.get_decrypted_name }}" name="" class="it" id="name" readonly>
							</div>
						</div>
                        {% endif %}

                        {% if inquiry.phone %}
						<div class="frm-area">
							<div class="inp-group">
								<label for="phone"><em>필수</em> 연락처</label>
								<input type="text" value="{{ inquiry.get_decrypted_phone }}" name="" class="it" id="phone" readonly >
							</div>
						</div>
                        {% endif %}

                        {% if inquiry.email %}
						<div class="frm-area">
							<div class="inp-group">
								<label for="email"><em>필수</em> 이메일</label>
								<input type="text" value="{{ inquiry.get_decrypted_email }}" name="" class="it" id="email" readonly >
							</div>
						</div>
                        {% endif %}

                        {% if inquiry.address %}
						<div class="frm-area">
							<div class="inp-group">
								<label for="address"> 주소</label>
								<input type="text" value="{{ inquiry.get_decrypted_address }}" name="" class="it" id="address" readonly>
							</div>
						</div>
                        {% endif %}

                        {% if inquiry.date_time %}
						<div class="frm-area">
							<div class="inp-group">
								<label for="date_time"><em>필수</em> 날짜</label>
								<input type="text" value="{{ inquiry.date_time }}" name="" class="it" id="date_time" readonly>
							</div>
						</div>
                        {% endif %}

						<div class="frm-area">
							<div class="inp-group">
								<label for="content"><em>필수</em> 문의 내용</label>
								<textarea type="text" name="" class="it" id="content" rows="12" readonly style="overflow-y: auto;">
									{{ inquiry.content }}
								</textarea>
							</div>
						</div>

                        {% if inquiry.link %}
						<div class="frm-area">
							<div class="inp-group">
								<label for="link"> 첨부 링크</label>
								<input type="text" value="{{ inquiry.link }}" name="" class="it" id="link" readonly >
							</div>
						</div>
                        {% endif %}

                        {% if inquiry.attachment %}
						<div class="frm-area">
							<div class="inp-group">
								<label for="attachment"> 첨부파일</label>
								<input type="file" value="{{ inquiry.attachment }}" name="file" class="it" id="attachment">
							</div>
						</div>
                        {% endif %}
					</div>
					<div class="bt-group">
						<button id="create-btn" onclick="location.href='/inquiry/list/'" class="st-fill"><span>목록가기</span> <i class="ico"></i></button>
					</div>
				</fieldset>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	$('.layer-sel').niceSelect();
});

</script>
</body>
</html>
