<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
<title>CS-Helper</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<link href="{% static 'css/common.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/admin.css' %}" type="text/css" rel="stylesheet">
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/nice-select/jquery.nice-select.js' %}"></script>
<script src="{% static 'js/action.js' %}"></script>
</head>
<body>
<div id="wrap">
	<header id="header" class="admin_header">
        <div class="mob-head">
            <h1 class="logo"><a href="./"><img src="{% static 'image/common/logo_vertical.png' %}" alt="폼당폼당" class="w4em"></a></h1>
            {% if request.session.api_key %}
                <p class="bt-group"><a href="/inquiry/service/{{ request.session.api_key }}/"> 폼 확인하기 <i class="ico"></i></a></p>
            {% else %}
                <p class="bt-group"><a href="/contract/write/"> 폼 계약하기 <i class="ico"></i></a></p>
            {% endif %}
            <nav class="gnb">
                <ul>
                    <li><a href="/inquiry/list/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path style="fill:currentColor" fill-rule="evenodd" d="M3.47 7.03c.15.15.34.22.53.22s.38-.07.53-.22l3-3c.29-.29.29-.77 0-1.06a.754.754 0 0 0-1.06 0L4 5.44l-.47-.47a.754.754 0 0 0-1.06 0c-.29.29-.29.77 0 1.06l1 1ZM21 6.25H11c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h10c.41 0 .75.34.75.75s-.34.75-.75.75Zm-10 7h10c.41 0 .75-.34.75-.75s-.34-.75-.75-.75H11c-.41 0-.75.34-.75.75s.34.75.75.75Zm0 7h10c.41 0 .75-.34.75-.75s-.34-.75-.75-.75H11c-.41 0-.75.34-.75.75s.34.75.75.75Zm-7-6c-.19 0-.38-.07-.53-.22l-1-1a.754.754 0 0 1 0-1.06c.29-.29.77-.29 1.06 0l.47.47 2.47-2.47c.29-.29.77-.29 1.06 0 .29.29.29.77 0 1.06l-3 3c-.15.15-.34.22-.53.22Zm-.53 6.78c.15.15.34.22.53.22s.38-.07.53-.22l3-3c.29-.29.29-.77 0-1.06a.754.754 0 0 0-1.06 0L4 19.44l-.47-.47a.754.754 0 0 0-1.06 0c-.29.29-.29.77 0 1.06l1 1Z" clip-rule="evenodd"/></svg> 문의 확인</a></li>
                    <li><a href="/inquiry/management/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path style="fill:currentColor" fill-rule="evenodd" d="M5.54 19.52c-.61 0-1.18-.21-1.59-.6-.52-.49-.77-1.23-.68-2.03l.37-3.24c.07-.61.44-1.42.87-1.86l6.837-7.237a.707.707 0 0 1 .025-.026L12.72 3.1c2.05-2.17 4.19-2.23 6.36-.18s2.23 4.19.18 6.36l-8.21 8.69c-.42.45-1.2.87-1.81.97l-3.22.55-.177.013c-.102.009-.2.017-.303.017Zm.06-6.71 5.918-6.272a6.86 6.86 0 0 0 4.353 4.125L9.95 16.93c-.2.21-.68.47-.97.52L5.76 18c-.33.05-.6-.01-.78-.18-.18-.17-.26-.44-.22-.77l.37-3.24c.04-.29.27-.79.47-1Zm12.56-4.57-1.105 1.17a5.372 5.372 0 0 1-4.342-4.137L13.81 4.11c.68-.72 1.35-1.2 2.12-1.2.62 0 1.31.32 2.11 1.09 1.81 1.7 1.36 2.92.12 4.24ZM3 22.75h18c.41 0 .75-.34.75-.75s-.34-.75-.75-.75H3c-.41 0-.75.34-.75.75s.34.75.75.75Z" clip-rule="evenodd"/></svg> 문의 관리</a></li>
                    <li><a href="/contract/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"><path style="fill:currentColor" fill-rule="evenodd" d="M19.25 17.353a2.75 2.75 0 0 0-2 2.647c0 1.52 1.23 2.75 2.75 2.75s2.75-1.23 2.75-2.75a2.75 2.75 0 0 0-2-2.647V14c0-2.42-1.33-3.75-3.75-3.75h-4.25V6.647a2.75 2.75 0 0 0 2-2.647c0-1.52-1.23-2.75-2.75-2.75S9.25 2.48 9.25 4c0 1.26.845 2.32 2 2.647v3.603H7c-2.42 0-3.75 1.33-3.75 3.75v3.353a2.75 2.75 0 0 0-2 2.647c0 1.52 1.23 2.75 2.75 2.75S6.75 21.52 6.75 20a2.75 2.75 0 0 0-2-2.647V14c0-1.58.67-2.25 2.25-2.25h4.25v5.603a2.75 2.75 0 0 0-2 2.647c0 1.52 1.23 2.75 2.75 2.75s2.75-1.23 2.75-2.75a2.75 2.75 0 0 0-2-2.647V11.75H17c1.58 0 2.25.67 2.25 2.25v3.353ZM4 18.75a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5Zm16 0a1.25 1.25 0 1 1 0 2.5 1.25 1.25 0 0 1 0-2.5ZM13.25 4a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM12 18.75a1.25 1.25 0 1 1 0 2.5 1.25 1.25 0 0 1 0-2.5Z" clip-rule="evenodd"/></svg> 계약 정보</a></li>
                </ul>
            </nav>
			<a onclick="Logout()" class="bt-logout"><i class="ico i-logout"></i> Logout</a>
        </div>
        <button type="button" class="bt-menu"><span class="skip">메뉴</span></button>
    </header>
	<div id="container">
        <h2 class="sub-tit">문의하기 설정</h2>
		<div id="settings" class="group-wrap">
        </div>
	</div>
</div>
<script>
$(document).ready(function() {
	inquirySettings()
});

function inquirySettings() {

  $.ajax({
      type: 'GET',
      url: '/api/v1/inquiry_management/',
      headers: {
           'X-CSRFToken': getCookie('csrftoken')
      },
      success: function (response) {
          let html = ""
          if(response.length < 1) {
              html += `
                    <div class="not-result">
                        <i class="ico"></i>
                        <p>아직 설정된 폼이 없습니다.<br>설정 하기를 시작해보세요!</p>
                        <ul>
                            <li><a onclick="inquiryCreate()" style="cursor: pointer" class="st-ico"><i class="ico i-group"></i> <span>시작하기</span></a></li>
                        </ul>
                    </div>
              `
          }else {
              const data = response[0]
              html += `
                <div class="group-write">
                    <h4>설정하기</h4>
                        <fieldset>
                            <legend>설정하기</legend>
                            <div class="forms-write-wrap">
                                ${createFormArea('email', '이메일 수집', '활성화', '비활성화', data.email)}
                                ${createFormArea('name', '이름 수집', '활성화', '비활성화', data.name)}
                                ${createFormArea('phone', '휴대폰 번호 수집', '활성화', '비활성화', data.phone)}
                                ${createFormArea('link', '링크 수집', '활성화', '비활성화', data.link)}
                                ${createFormArea('address', '주소 수집', '활성화', '비활성화', data.address)}
                                ${createFormArea('attachment', '파일 수집', '활성화', '비활성화', data.attachment)}
                                ${createFormArea('date_time', '날짜 수집', '활성화', '비활성화', data.date_time)}
                                <div class="frm-area">
                                    <div class="inp-group">
                                        <label for="time_placeholder"> 날짜 수집 목적</label><input type="text" name="" class="it" id="time_placeholder" placeholder="라벨을 적어주세요. ex) 예약 날짜">
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                            <div class="bt-group">
                                <button id="create-btn" onclick="inquiryUpdate()" class="st-fill"><span>가입하기</span> <i class="ico"></i></button>
                            </div>
                        </fieldset>
                </div>
              `
          }
          $("#settings").append(html);
          $('.layer-sel').niceSelect();
      },
      error: function (error) {
	  console.error('AJAX 요청 실패:', error);
      }
  });
}


const createFormArea = (id, label, option1, option2, value) => {
    console.log(value)
    return `
        <div class="frm-area">
            <div class="inp-group">
                <label for="${id}"><em>필수</em> ${label}</label>
                <select name="" id="${id}" class="layer-sel">
                    <option value="1">${option1}</option>
                    <option value="0" ${value === false ? 'selected': ''}>${option2}</option>
                </select>
            </div>
        </div>
    `;
};

const inquiryUpdate = () => {
    alert("test")
}

const inquiryCreate = () => {
      doubleSubmit("#create-btn");
      $.ajax({
        type: 'POST',
        url: '/api/v1/inquiry_management/',
        contentType: 'application/json',
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        },
        success: (response) => {
              alert("설정이 완료되었습니다.");
              location.reload();
        },
        error: (xhr) => {
          doubleSubmit("#create-btn");
          const errorResponse = JSON.parse(xhr.responseText);
          alert(errorResponse.error);
        }
      });
}
</script>
</body>
</html>
